/*Colours:
pink : #E85D7C
black : #2D3142
pinkish white : #f5e6e8
*/


body {
  margin: 0;
  font-size: 28px;
  font-family: "Lucida Console", "Courier New", monospace;
}

/* style navbar */
#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #2D3142;
  display: flex;  /*use flexbox*/
  align-items: center; /*center items vertically*/
  justify-content: flex-end; /*push right*/
}

/* navbar buttons */
#navbar a {
  display: block;
  color: #f5e6e8;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/*hover changes colour*/
#navbar a:hover {
  background-color: #f5e6e8;
  color: #2D3142;
}

/*active button change colour*/
#navbar a.active {
  background-color: #E85D7C;
  color: #f5e6e8;
}

#navbar a.logo{
    margin-right: auto
}
#navbar a.logo img {
    height: 100px;
    display:block;
}

#navbar a.logo:hover{
    background-color:transparent
}

#navbar input[type=text]{
    padding: 5px;
    border: none;
    font-size:10px;
    margin-right:10px;
}

.search-form{
    display:flex;
    margin: 0 10px;
}

.search-form button{
    padding: 8px 16px;
    background-color:#E85D7C;
    color:white;
    border:none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size:17px
}

/* Page content */
.content {
  padding: 16px;
}