/* Colours
#2d3142 - jett black
#e85d7c - blush rose
#f5e6e8 - lavender blush
#2d314275 - jett black with ~50% opacity
*/




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: #F5E6E8;
    font-size: 18px;
    margin: 20px 0;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #2D3142;
    padding: 10px 20px;
    color: #F5E6E8; 
}

.navbar .logo {
    height: 60px;
    width: auto;
}

.btn {
    background-color: #2D3142;
    padding: 5px 10px;
    border-radius: 18px;
    border: none;
    color: #F5E6E8;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
}

#search-input {
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
}

.btn#signin-btn {
    background-color: #E85D7C;
}

.btn:hover {
    background-color: #F5E6E8;;
    color: #2D3142;
}

.pink-colour {
    color: #E85D7C;
}

.hero-section {
    text-align: left;
    display: block;
    height: 500px;
    width: auto;
    padding: 50px 20px;
    background-image: url('../assets/skyrim.jpg');
    background-size: cover;
}

.welcome {
    color: #F5E6E8;
}

.welcome.intro {
    font-size: 64px;
    margin-top: 20px;
    margin: -20px 0;
    color: #F5E6E8
}

.welcome.pink-colour {
    color: #E85D7C;
}

.page-tag {
    margin-bottom: 20px;
}

#explore-btn {
    align-self: left;
}